{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{% static 'primal_training/css/main.css' %}">
    <title>PrimalTrening</title>
</head>
<body>
    <header class="Header">
        {% include "includes/Nav.html" %}
    </header>
    {% block main %}
    
    {% endblock main %}
    <footer class="Footer">
        <div class="footer-top">
            <a href="/" class="footer-logo">
                <img src="{% static 'primal_training/Images/Vector.png' %}" alt="PrimalTraining Logo">
            </a>
            <h1 class="title-footer-top">PrimalTraining</h1>
        </div>

        <div class="footer-bottom">
            <div class="content-contact">
                <h2 class="title-content">CONTACT</h2>
                <p class="email-content-contatct">Email:kobylynskyjd@gmail.com</p>
                <p class="phone-content-contact">Phone:795-413-691</p>
            </div>


            <div class="content-hours">
                <h2 class="title-content">OPENING HOURS</h2>
                <div class="hours-grid">
                <span>MON - FRI</span><span>5:00 - 23:00</span>
                <span>SATURDAYS</span><span>8:00 - 16:00</span>
                <span>SUNDAYS</span><span>8:00 - 13:00</span>
                <span>HOLIDAYS</span><span>8:00 - 16:00</span>
                </div>
            </div>

            <div class="content-social">
                <h2 class="title-content">SOCIAL</h2>
                <a href="https://www.instagram.com/fitness/">Instagram</a>
            </div>

        </div>



    </footer>
</body>
</html>