{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'primal_training/Images/LogoWeb.png'  %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{% static 'primal_training/css/main.css' %}">
    <title>PrimalTrening</title>
    <link rel="stylesheet" href="{% static 'primal_training/css/aos.css' %}" />
    <script src="/static/primal_training/Js/burger.js" defer></script>
    <script src="{% static 'primal_training/Js/aos.js' %}"></script>
<body>
    <header class="Header">
        {% include "includes/Nav.html" %}

        <button class="burger-btn" id="burgerBtn" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    
    </header>
    {% block main %}
    
    {% endblock main %}
    <footer class="Footer">
        <div class="footer-top">
            <a href="/" class="footer-logo">
                <img src="{% static 'primal_training/Images/Vector.png' %}" alt="PrimalTraining Logo">
            </a>
            <h1 class="title-footer-top">PrimalTraining</h1>
        </div>

        <div class="footer-bottom">
            <div class="content-contact">
                <h2 class="title-content">{% trans 'CONTACT' %}</h2>
                <p class="email-content-contatct">{% trans 'Email:' %}kobylynskyjd@gmail.com</p>
                <p class="phone-content-contact">{% trans 'Phone:' %}795-413-691</p>
            </div>


            <div class="content-hours">
                <h2 class="title-content">{% trans 'OPENING HOURS' %}</h2>
                <div class="hours-grid">
                <span>{% trans 'MON - FRI' %}</span><span>5:00 - 23:00</span>
                <span>{% trans 'SATURDAYS' %}</span><span>8:00 - 16:00</span>
                <span>{% trans 'SUNDAYS' %}</span><span>8:00 - 13:00</span>
                <span>{% trans 'HOLIDAYS' %}</span><span>8:00 - 16:00</span>
                </div>
            </div>

            <div class="content-social">
                <h2 class="title-content">{% trans 'SOCIAL' %}</h2>
                <a href="https://www.instagram.com/fitness/">Instagram</a>
            </div>

        </div>



    </footer>

    <script>
            document.addEventListener('DOMContentLoaded', () => {
            AOS.init({
                duration: 1000,
                once: true,   
            });
        });
    </script>
</body>
</html>