{% extends "base/base.html" %}
{%load static%}

{% block main %}
<section class="reserve-section">
        <h1 class="reserve-title">BOOK A <span>SESSION</span></h1>
        <h2 class="reserve-subtitle">Available Classes</h2>

    <div class="reserve-grid">

        {% for item in classes %}
            <div class="card">
                <h3 class="class-item">{{item.title}}</h3>
                <p class="class-description">{{item.description}}</p>
                <p class="class-price">{{item.price}}kc</p>
                <p class="class-capacity"><strong>Places:</strong> {{ item.max_capacity }}</p>

                <!-- 1. ЗМІНЕНА КНОПКА: додали class="open-modal-btn" та data-атрибути -->
                    <button type="button" 
                        class="reserve-btn open-modal-btn" 
                        data-class-id="{{ item.id }}" 
                        data-class-title="{{ item.title }}">
                    RESERVE YOUR SPOT
                </button>
            </div>
            {%empty%}
                <p class="no-classes">No available classes at the moment.</p>
        {% endfor %}
    </div>
</section>

{% comment %} Modal  {% endcomment %}

<div id="reservationModal" class="modal"> 
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2 id="modalTitle">BOOK A SESSION</h2>

    <form action="{% url 'CREATE_RESERVATION'  %}" method="POST" class="modal-form">
            {% csrf_token %}
            <input type="hidden" name='class_id' id="modalClassId">

            <div class="form-field">
                <label for="id_name">First Name</label>
                <input type="text" id="id_name" name="name" required placeholder="First name">
            </div>

            <div class="form-field">
                <label for="id_last_name">Last Name</label>
                <input type="text" id="id_last_name" name="last_name" required placeholder="Last name">
            </div>

            <div class="form-field">
                <label for="id_email">Email</label>
                <input type="email" id="id_email" name="email" required placeholder="Email">
            </div>

            <div class="form-field">
                <label for="id_phone">Phone</label>
                <input type="tel" id="id_phone" name="phone" required placeholder="+380...">
            </div>

            <div class="form-field">
                <label for="id_reser_date">Date & Time</label>
                <input type="datetime-local" id="id_reser_date" name="Reser_date" required>
            </div>

            <button type="submit" class="reserve-btn">CONFIRM BOOKING</button>

    </form>
    </div>
</div>
<script src="{% static 'primal_training/js/modal.js' %}"></script>


{% endblock main %}