{% load static %}
<a href="{% url 'HOME' %}" class="header__logo">
    <img src="{% static 'primal_training/Images/logo.png' %}" alt="Logo">
</a>

<nav class="Header__nav">
    <ul class="ul_list">
        <li class="list_item"><a href="{% url 'HOME' %}">HOME</a></li>
        <li class="list_item"><a href="{% url 'ABOUT AS' %}">ABOUT</a></li>
        <li class="list_item"><a href="{% url 'CONTACTS' %}">CONTACTS</a></li>
        <li class="list_item list_item--btn"><a href="{% url 'RESERVE YOUR SPOT' %}">RESERVE YOUR SPOT</a></li>
    </ul>
</nav>