{% load static %}
{% load i18n %}
<a href="{% url 'HOME' %}" class="header__logo">
    <img src="{% static 'primal_training/Images/logo.png' %}" alt="Logo">
</a>

<nav class="Header__nav">
    <ul class="ul_list">
        <li class="list_item"><a href="{% url 'HOME' %}">{% trans 'HOME' %}</a></li>
        <li class="list_item"><a href="{% url 'ABOUT AS' %}">{% trans 'ABOUT' %}</a></li>
        <li class="list_item"><a href="{% url 'CONTACTS' %}">{% trans 'CONTACTS' %}</a></li>
        <li class="list_item list_item--btn"><a href="{% url 'RESERVE YOUR SPOT' %}">{% trans 'RESERVE YOUR SPOT' %}</a></li>
    </ul>
</nav>

<form action="{% url 'set_language' %}" method="post" class="language-picker">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}">
    
    <button type="submit" name="language" value="en">EN</button>
    <button type="submit" name="language" value="ru">RU</button>
    <button type="submit" name="language" value="uk">UA</button>
    <button type="submit" name="language" value="cs">CZ</button>
</form>